@import 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css';

body {
  margin-top: 50px;
}

.form-inline > input {
  margin: 5px 3px;
}

.bound-item-view {
  cursor: pointer;
}
