@import 'https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css';

body {
  margin-top: 50px;
}

.form-inline > input {
  margin: 5px 3px;
}

.bound-item-view {
  cursor: pointer;
}

.bound-item-view button {
  visibility: hidden;
}

.bound-item-view:hover button {
  visibility: visible;
}
